# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.toc
*.out
*.tex

# Ignore all PDF files and their folders
*.pdf
**/*.pdf


# Python ignores
.venv/
road-road-usa/
.ipynb_checkpoints/
*.png
*.graphml
cache/
**/cache/
*.zip
*.json
.pytest_cache

# macOS system files
.DS_Store
*/.DS_Store
